*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#0b0b0b;
    color:white;
    padding-bottom:90px;
}


/* Header */

header{
    padding:20px;
}

.top{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.top h2{
    color:#ff8c00;
    font-size:26px;
}

.top i{
    font-size:22px;
}

header p{
    color:#aaa;
    margin-top:8px;
}



/* Search */

.search-box{
    margin:15px;
    background:#181818;
    padding:14px;
    border-radius:15px;
    display:flex;
    align-items:center;
    gap:10px;
}

.search-box i{
    color:#ff8c00;
}

.search-box input{
    background:none;
    border:none;
    outline:none;
    color:white;
    width:100%;
}



/* Sections */

section{
    padding:15px;
}

section h3{
    margin-bottom:15px;
}



/* Cards */

.cards{
    display:flex;
    gap:15px;
}

.music-card{
    background:#151515;
    padding:12px;
    border-radius:18px;
    width:150px;
}

.music-card img{
    width:100%;
    height:120px;
    border-radius:15px;
    object-fit:cover;
}

.music-card p{
    margin-top:8px;
}

.music-card span{
    color:#888;
    font-size:13px;
}



/* Playlist */

.playlist{
    display:flex;
    gap:12px;
}

.playlist div{
    background:#181818;
    padding:15px;
    border-radius:15px;
}



/* Mini Player */

.mini-player{
    position:fixed;
    bottom:75px;
    left:15px;
    right:15px;
    height:65px;
    background:#181818;
    border-radius:18px;
    display:flex;
    align-items:center;
    padding:8px;
    gap:12px;
    z-index:5;
}

.mini-player img{
    width:50px;
    height:50px;
    border-radius:12px;
}

.mini-player div{
    flex:1;
}

.mini-player span{
    color:#999;
    font-size:13px;
}

.mini-player i{
    color:#ff8c00;
    font-size:22px;
}



/* Bottom Nav */

.bottom-nav{
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    height:70px;
    background:#111;
    display:flex;
    justify-content:space-around;
    align-items:center;
    border-top:1px solid #222;
    z-index:10;
}

.bottom-nav a{
    color:#777;
    text-decoration:none;
    display:flex;
    flex-direction:column;
    align-items:center;
    font-size:12px;
}

.bottom-nav i{
    font-size:22px;
    margin-bottom:5px;
}

.bottom-nav .active{
    color:#ff8c00;
}



/* Side Menu */

.side-menu{
    position:fixed;
    top:0;
    left:-320px;
    width:300px;
    height:100%;
    background:#111;
    z-index:20;
    padding:25px;
    transition:.4s;
}

.side-menu.active{
    left:0;
}


.profile{
    text-align:center;
}

.avatar{
    width:80px;
    height:80px;
    background:#222;
    border-radius:50%;
    margin:auto;
    display:flex;
    align-items:center;
    justify-content:center;
}

.avatar i{
    font-size:35px;
    color:#ff8c00;
}


.profile button{
    margin-top:15px;
    padding:12px 35px;
    border:none;
    border-radius:25px;
    background:#ff8c00;
    color:white;
}



.menu-list{
    margin-top:30px;
}


.menu-list a,
.bottom-menu a{
    display:flex;
    gap:15px;
    padding:15px;
    color:white;
    text-decoration:none;
}


.menu-list i,
.bottom-menu i{
    color:#ff8c00;
}


.premium{
    background:#ff8c00;
    border-radius:15px;
}



/* Overlay */

.overlay{
    position:fixed;
    inset:0;
    background:rgba(0,0,0,.7);
    display:none;
    z-index:15;
}

.overlay.active{
    display:block;
}



/* Full Player */

.player-screen{
    position:fixed;
    top:100%;
    left:0;
    width:100%;
    height:100%;
    background:#0b0b0b;
    z-index:30;
    padding:25px;
    transition:.4s;
}

.player-screen.active{
    top:0;
}


.player-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
}


.album-area{
    margin-top:40px;
    text-align:center;
}


.album-area img{
    width:280px;
    height:280px;
    border-radius:25px;
    object-fit:cover;
}



.song-info{
    text-align:center;
    margin-top:25px;
}


.song-info p{
    color:#999;
}



/* Progress */

.progress-area{
    margin-top:35px;
}


.progress-area input{
    width:100%;
    accent-color:#ff8c00;
}


.time{
    display:flex;
    justify-content:space-between;
    color:#aaa;
    font-size:13px;
}



/* Controls */

.controls{
    margin-top:35px;
    display:flex;
    justify-content:space-around;
    align-items:center;
    font-size:25px;
}


.main-play{
    width:70px;
    height:70px;
    background:#ff8c00;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
}


.extra-controls{
    margin-top:40px;
    display:flex;
    justify-content:space-around;
    font-size:22px;
}
